.container {
    max-width: 1440px;
    margin: 0 auto;
}
.input {
    display: flex;
    margin-bottom: 30px;
    width: 300px;
}
#originalUrl {
    width: 600px;
}
#tinyUrl {
    width: 300px;
}

#table td {
    text-align: center;
    padding: 5px;
}
.btn {
    border-radius: 5px;
    margin-bottom: 30px;
}